body {
  font-family: sans-serif;
  color: white;
  font-size: medium;
  background-color: black;
}

/*#header {
  padding: 15px;
  margin: 10px;
}*/

#ncku {
  position: fixed;
  top: 20px;
  left: 20px;
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
}

h1 {
  font-family: verdana, sans-serif;
  font-size: 100px;
  padding: 20px;
  border-bottom: 1px dotted #AAAAAA;
}

#menu {
  margin-right: 10px;
}

img {
  width: 20%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
}


