body {
  font-family: sans-serif;
  color: white;
  font-size: medium;
  background-color: black;
}

#header {
  padding: 15px;
  margin: 10px;
}

h1 {
  font-family: verdana, sans-serif;
  font-size: 100px;
}

#menu {
  margin-right: 10px;
}

img {
  width: 20%;
}


